.auth__input {
    display: block;
    height: 27px;
    width: 358px;
    margin-bottom: 30px;
    border: 0;
    border-bottom: 2px solid #CCCCCC;
    background: black;
    color: white;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
  }